/*
KambathalliParswanatha, Nagachandra
jadrn023
Project #4
Fall 2017;
*/
*{margin: 0; padding: 0; }
body 
{
    background-color: #FAFAD2;
    color: #777;
    font: normal 15px;
	font-family:"Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

div.backgroundimg {
  background: url(contact.jpg);
  border: 2px solid black;
  height: 500px;
}

div.transboxone {
  margin: 30px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.8;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}

div.transboxone p
{
  margin: 2%;
  font-weight: bold;
  color: #000000;
}
#Bold
{
    font-size:25px;
    text-align: center;
}

#Mid
{
    color:#ff3333;
}
#Mid1
{
    color:#ff3333;
     font-size:25px;
     text-align: center;

}
.MenuClass
{
	color: #444;
    font-weight: bold;
    margin-top: 55px;
	
	float:right;
	font-size:20px;
	margin-right:20px;

}
p
{
    line-height: 20px;
    margin-bottom: 20px;
}
h1 
{
    font-family: 'Crete Round', serif;
    font-weight: bold;
    color: #444;
    font-size: 45px;
    margin-bottom: 20px;
}
h2 
{
    font-weight: 300;
    color: #444;
    font-size: 55px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
	color: white; 
	font: bold 24px/45px Helvetica, Sans-Serif; 
	letter-spacing: -1px;  
	background: rgb(0, 0, 0); /* fallback color */
	background: rgba(0, 0, 0, 0.7);
	padding: 10px; 
}
h3 
{
    font-size: 25px;
    color: #444;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
	color:#102451;
	font-family:Thirsty Script,serif;
	font-weight:300
}
h4 
{
    font-size: 24px;
    color: #444;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
	
}
#ToCen
{
    text-align: center;
    font-size: 24px;
    color: #444;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;

}
h5 
{
    font-size: 15px;
    color: #444;
    font-weight: bold;
    text-transform: uppercase;
}
a 
{
    text-decoration: none;
    color: #444;
	
}
a:hover 
{
    color: #02b8dd;
}
strong 
{
    font-weight: bold;
}
small 
{
    font-size: 13px;
    color: #777;
    font-style: italic;
}
.Heading
{
	float: left;
    margin-top: 30px;
	margin-left: 20px;
}

.wrapperHeader
{
	height: 100px;
	
}




#hero-image h2 
{
    margin: 180px 0 40px 0;
}


#features ul 
{
    margin: 80px 0;
}
#features ul li 
{
    width: 300px;
    padding-top: 140px;
    float: left;
    margin-right: 10px;
    text-align: center;
}

.primaryImage img {
    width: 100%;
    height: 475px;
    display:block;
   	margin-left:auto;
   	margin-right:auto;

}
/*#primary-content h3 {
    display: block;
    margin: 0 auto 20px auto;
    width: 400px;
    border-bottom: 1px solid #02b8dd;
    padding: 0 0 20px 0;
}
#primary-content p
{
	margin: 0 auto;
    padding: 0 10px;
    width: 940px;
}*/
.overlay
{
	float:left;
	background-color: #FAFAD2;
    width: 290px;
	margin-left: 80px;
	padding: 80px;
	margin-top:0px;
	margin-bottom:90px;
}

.imgoverlay
{
	    float:right;
    	margin-top:0px;
    	margin-right: 180px;
    	margin-bottom:90px;
    	padding: 30px;
}

.imgoverlay p
{
	    text-align: center;
	     font-weight: bold;
	     font-size:20px;

}

.imgoverlay img
{
 width: 550px;
}

.more-link {
    border: 1px solid #02b8dd;
    color: #02b8dd;
    padding: 6px 20px;
    border-radius: 3px;
}
.more-link:hover {
    background-color: #02b8dd;
    color: #fff;
}
#cta {
	margin-top: 30px;
    padding: 30px 0;
    text-align: center;
	}
#cta h3 {
    display: block;
    margin: 0 auto 20px auto;
    width: 400px;
    border-bottom: 1px solid #02b8dd;
    padding: 0 0 20px 0;
}

footer
{
      height: 100px;
      width:100%;
      left: 0;
      bottom: 0;
      background-color: #fff;

}

#footer-links 
{
	margin-top: 60px;
    width: 520px;
    float: right;
	margin-right: 180px;
	margin-bottom:90px;
	
}
#footer-links ul {
    width: 150px;
    float: left;
    margin-left: 20px;
}
#footer-links ul li {
    margin: 10px 0;
}
#Backgroundcolor-setter
{
    height:50px;
	background-color: #f8fafa;
	text-align: center;

    vertical-align: middle;
}
#Backgroundcolor-setter p {

    padding: 20px;

    background-color: #f8fafa;
      vertical-align: middle;
}

#setter
{
 height:100px;
 background-color: #f8fafa;

}
.color{
	font-family: 'Crete Round', serif;
    font-weight: bold;
    font-size: 35px;
	color: #02b8dd
}

    
h1 {
    text-align: center;
    }    
    

      

ul {
    list-style-type: none;
    }
    
li {
  
    margin-bottom: 5px;
    }    


    
input {
    font-family: courier;
    border: 1px solid #DDD;
    }
    
.button {
    font-family: sans-serif;
    }        
    
.error {
    border:  1px solid red;   
    background-color: #FEE;  
    }
    
#button_panel {
    text-align: center;
    border-top: 1px solid #999;
    padding-top: 5px;
    }  

label
{
	margin:0px;
	padding:10px;
	color:black;
	font-size:20px;

}

#cover
{
 background-color: red;
}

.button 
{
    
    padding: 10px 38px 10px 35px;
    color: #FFF;
	margin: 30px auto;
    background: #1abc9c;
    font-size: 25px;
    text-align: center;
    font-style: normal;
    border: 1px solid #16a085;
}

.button:hover 
{
    background: #109177;
}
#medical-conditions
{
	margin-left:30px;
	padding:10px;
	
}
.big
{
   width: 1.3em; 
   height: 1.3em; 
}

